# OSX
#
.DS_Store

# Android/IntelliJ
#
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Keep build directory but ignore specific files
build/
!build/outputs/apk/release/
!build/outputs/apk/release/*.apk
